<div class="artist-slide section">
    <div class="artist-slide__body">
        <a class="artist-slide__link" href="{{.Permalink}}">
            <h2 class="artist-slide__heading">
								{{ if eq .Params.atom_prod true }}
									<span class="artist-slide__heading-atom">
										{{ partial "svg" (dict "id" "svg--logo-atom" "class" "atom-logo") -}}
									</span>
								{{ end }}
								{{ .Title }}
							<span class="artist-slide__type">{{.Params.post_type}}</span>
						</h2>
        </a>

        <a class="artist-slide__background" href="{{.Permalink}}">
            <div class="slide-background__image" style="background-image:url({{ .Params.post_thumbnail | safeCSS }});"></div>
        </a>
    </div>
</div>