/*
BASE/MOBILE
*/

.header {
    background: none;
    display: flex;
    justify-content: space-between;
    padding: $padding-medium;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &__logo {
        color: $color-white;
        font-size: pxToRem(22);
        font-weight: $font-weight-bold;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__nav {

        &-wrapper {
            background: $color-white;
            display: none;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            left: 0;
            padding-top: $padding-medium;
            position: absolute;
            top: 0;
            width: 100vw;
            z-index: -1;
        }

        &-item {
            color: $color-black;
            font-size: pxToRem(16);
            padding: $padding-medium;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }

        &-mobile {

            &__open,
            &__close {
                z-index: 2;
            }

            &__open {
                fill: $color-white;
            }

            &__close {
                display: none;
                fill: $color-black;
            }
        }
    }
}

/*
MEDIUM
*/

@media screen and (min-width: $medium-breakpoint)  {

}


/*
LARGE
*/

@media screen and (min-width: $large-breakpoint) {

<<<<<<< HEAD
    .header {
        padding: $padding-x-large;
    }
=======
>>>>>>> c91bf0fcd395d66c375ae95ae67cb8e6d316f1ca
}


/*
EXTRA LARGE
*/

@media screen and (min-width: $extra-large-breakpoint) {

}
