/*
BASE/MOBILE
*/

.header {
    background: none;
    display: flex;
    justify-content: space-between;
    padding: $padding-medium;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    #menuc {
        display: block;
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
    }

    &__logo {
        color: $color-white;
        font-size: pxToRem(22);
        font-weight: $font-weight-bold;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__nav {

        &-background{
            background: $color-white;
            height: 32px;
            opacity: 0;
            position: fixed;
            right: 0;
            top: 0;
            width: 32px;
            z-index: -1;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            left: 0;
            padding-top: $padding-medium;
            position: absolute;
            top: 0;
            width: 100vw;
            z-index: -1;
        }

        &-item {
            color: $color-black;
            font-size: pxToRem(16);
            opacity: 0;
            padding: $padding-medium;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }

        &-mobile {

            &__open,
            &__close {
                z-index: 2;
                cursor: pointer;
            }

            &__open {
                fill: $color-white;
            }

            &__close {
                display: none;
                fill: $color-black;
            }
        }

        &.active {

            .header__nav-mobile {
                &__open {
                    display: none;
                }
    
                &__close {
                    display: block;
                    fill: $color-black;
                }  
            }
        }
    }
}

/*
MEDIUM
*/

@media screen and (min-width: $medium-breakpoint)  {

}


/*
LARGE
*/

@media screen and (min-width: $large-breakpoint) {

    .header {
        padding: $padding-x-large;
    }
}


/*
EXTRA LARGE
*/

@media screen and (min-width: $extra-large-breakpoint) {

}
