/*
BASE/MOBILE
*/

.header {
    align-items:     center;
    background:      $swatch-white;
    display:         flex;
    justify-content: space-between;
    padding:         $padding-medium;
    position:        absolute;
    position:        fixed;
    top:             0;
    width:           100%;
    z-index:         1;

    &__logo {
        color:           $swatch-black;
        font-size:       pxToRem(22);
        text-decoration: none;
        text-transform:  uppercase;
    }

    &__nav {
        background: $swatch-grey;
        background: $swatch-white;
        height:     100%;
        max-width:  360px;
        overflow-y: auto;
        position:   fixed;
        right:      -100%;
        top:        0;
        transition: right .5s ease;
        width:      100%;

        &.active {
            right:      0%;
            transition: right .5s ease;
        }

        &-wrapper {
            display:     block;
            padding-top: calc(100vh / 4);
            padding:     $padding-medium;
            text-align:  right;
        }

        &-item {
            color:           $swatch-black;
            display:         block;
            font-size:       pxToRem(24);
            line-height:     pxToRem(50);
            text-decoration: none;
        }

        &-mobile {

            &__open,
            &__close {
                cursor: pointer;
            }

            &__open {
                fill: $swatch-black;
            }

            &__close {
                fill:     $swatch-black;
                position: absolute;
                right:    25px;
                top:      25px;
            }
        }
    }
}

/*
MEDIUM
*/

@media screen and (min-width: $medium-breakpoint)  {

}


/*
LARGE
*/

@media screen and (min-width: $large-breakpoint) {

    .header {
        padding: $padding-large;

        &__nav {
            background: none;
            height:     auto;
            max-width:  initial;
            position:   relative;
            right:      initial;
            width:      auto;

            &-wrapper {
                padding: 0;
            }

            &-item {
                display:     inline-block;
                font-size:   pxToRem(20);
                line-height: initial;
                margin-left: pxToRem(15);
                padding:     $padding-small;

                &:hover {
                    background:rgba($swatch-black, .2);
                }
            }

            &-mobile {

                &__open,
                &__close {
                    display: none;
                }
            }
        }
    }
}


/*
EXTRA LARGE
*/

@media screen and (min-width: $extra-large-breakpoint) {

}
