/*
BASE/MOBILE
*/

.header {
    align-items: center;
    background: none;
    display: flex;
    justify-content: space-between;
    padding: $padding-medium;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &__logo {
        color: $color-white;
        font-size: pxToRem(22);
        font-weight: $font-weight-bold;
        text-decoration: none;
        text-transform: uppercase;
        min-width: 50%;
    }

    &__nav {
        background: $color-white;
        position: fixed;
        width: 100%;
        max-width: 360px;
        height: 100%;
        overflow-y: auto;
        top: 0;
        right: -100%;
        transition: right .5s ease;

        &.active {
            right: 0%;
            transition: right .5s ease;
        }

        &-wrapper {
            display: block;
            padding: $padding-medium;
            padding-top: calc(100vh / 4);
            text-align: right;
        }

        &-item {
            display: block;
            font-size: 1.5rem;
            line-height: 3.125rem;
            text-decoration: none;
            color: $color-black;
        }

        &-mobile {

            &__open,
            &__close {
                cursor: pointer;
            }

            &__open {
                fill: $color-white;
            }

            &__close {
                fill: $color-black;
                position: absolute;
                right: 12px;
                top: 12px;
            }
        }
    }
}

/*
MEDIUM
*/

@media screen and (min-width: $medium-breakpoint)  {

}


/*
LARGE
*/

@media screen and (min-width: $large-breakpoint) {

    .header {
        padding: $padding-x-large;
    }
}


/*
EXTRA LARGE
*/

@media screen and (min-width: $extra-large-breakpoint) {

}
