/*
BASE/MOBILE
*/

.gallery-items {

    &__item {
        background: $swatch-grey;
        margin: 0 $padding-medium;
        margin-top: $padding-medium;
        position: flex;
        flex-direction: column;

        &-banner {
           background-size: cover;
           background-position: center;
           height: calc(75vh);
        }

        &-description {
            height: calc(25vh);
            padding: $padding-medium;
        }
    }
}


/*
MEDIUM
*/

@media screen and (min-width: $medium-breakpoint)  {

}


/*
LARGE
*/

@media screen and (min-width: $large-breakpoint) {

}


/*
EXTRA LARGE
*/

@media screen and (min-width: $extra-large-breakpoint) {

}
