{{ partial "head" . }}
{{ partial "header" . }}

    <div class="preload">
        <div class="preload__block">
            <div class="preload__block-background"></div>
        </div>
        <div class="preload__block">
            <div class="preload__block-background"></div>
        </div>
        <div class="preload__block">
            <div class="preload__block-background"></div>
        </div>
        <h1 class="preload__title">Artist Bureau</h1>
    </div>

    <div class="video-hero">
        <video loop="" autoplay="" playsinline="" muted="" style="opacity: 1;" src="./img/video.webm" poster=""></video>
    </div>

{{ partial "footer" . }}