.artist-slide {
    padding: $padding-medium;
    background: $swatch-alto;

    &__body {
        height:     100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__heading {
        font-size:      pxToRem(28);
        font-weight:    $font-weight-base;
        margin:         0;
        padding:        $padding-small;
        padding-left:   0;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
				font-weight: 600;
				
				&-atom {
					display: block;

					svg {
						height: 28px;
						width: 100px;
						margin-bottom: 5px;
					}
				}
    }

    &__type {
        font-size:      pxToRem(20);
        display:        block;
    }

    &__background {
        flex: 2;
        position: relative;
        display: flex;
        align-items: center;
    }

    &__link {
      text-decoration: none;
      color: inherit;  
    }

    &__content {
        max-width: pxToRem(1080);
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;

        h2 {
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;

            em {
                margin-right: 60px;
                font-style: normal;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            em {
                margin-right: 60px;
                font-style: normal; 
            }
        }
    }

    .slide-item__wrap {
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .tns {

        &-outer {
            height: 100%;
            width: 100%;
            position: relative;
        }

        &-controls {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;

            button {
                background: none;
                border: none;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-family: LineIcons!important;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                font-size: 35px;

                &[data-controls="next"] {
                    right: 0;

                    &:after {
                        content: '\EA46';
                    }  
                }

                &[data-controls="prev"] {
                    &:after {
                        content: '\EA44';
                    }   
                }
            }
        }

        &-item,
        &-ah,
        &-inner,
        &-slider {
            height: 100%;
        }

    }
}

.slide-background {

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: 50%;
    }

    &__play {
        background: $swatch-white;
        -webkit-mask: url(../../img/svg/play-circle.svg) no-repeat 50% 50%;
        mask: url(../../img/svg/play-circle.svg) no-repeat 50% 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 32px;
        width: 32px;
        transform: translate(-50%, -50%);

        &.active {
            display: none;
        }
    }

    &__video {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;

        &.active {
            display: block;
        }
    }
}

/*
MEDIUM
*/

@media screen and (min-width: $medium-breakpoint)  {
    .artist-slide {
        background: none;
    
        &__body {
            background: $swatch-alto;
            padding: $padding-medium;
        }

        &__heading {
						text-align: center;
						
						&-atom {
							display: inline-block;
		
							svg {
								height: 20px;
								width: 100px;
								margin-bottom: 0;
							}
						}
        }

        &__type {
            display: inline;
        }

        &__background {
            max-width: pxToRem(1080);
            left: 50%;
            transform: translate(-50%, 0);
            min-height: pxToRem(350);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.content-details {
    padding-bottom:$padding-medium;

    &__left {
        margin-right: pxToRem(100);

        ul {
            text-transform: uppercase;

            li {
                margin-bottom: 3px;
            }
        }
    }

    &__right {

        ul {

            li {
                margin-bottom: 3px;
            }
        }        
    }
}