/* Font base  */


body {
    font-size: $font-size-base + px;
    line-height: $line-height-base;
    font-weight: $font-weight-base;
    font-family: $font-family-base;
    color: $font-color-base;
    /* Better Font Rendering */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

body,
input,
button {
    -webkit-font-smoothing: antialiased;
}