/*
BASE/MOBILE
*/

.video-hero {
    background: none;
    display: flex;
    height: calc(100vh - 82px - 25px);
    margin-top: pxToRem(82);
    overflow: hidden;
    width: 100%;

    &__wrapper {
        height: 100%;
        margin: 0 $padding-medium;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    video {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

/*
MEDIUM
*/

@media screen and (min-width: $medium-breakpoint) {}

/*
LARGE
*/

@media screen and (min-width: $large-breakpoint) {

    .video-hero {
        height: calc(100vh - 123px - 25px);
        margin-top: pxToRem(123);
    }
}

/*
EXTRA LARGE
*/

@media screen and (min-width: $extra-large-breakpoint) {}