<div class="artist-slide section">
    <div class="artist-slide__body">
        <h2 class="artist-slide__heading">{{ .Title }}
            {{ if eq .Params.post_type "video" | or (eq .Params.post_type "music") }}
                <span class="artist-slide__type">{{.Params.post_type}}</span>
            {{ end }}  
        </h2>
        <div class="artist-slide__background">
            <div class="slide-background__image" style="background-image:url({{ .Params.post_thumbnail | safeCSS }});"></div>
            {{ if eq .Params.post_type "video" | or (eq .Params.post_type "music") }}
            <div class="slide-background__video"></div>
            <span class="slide-background__play" data-youtube="{{.Params.post_video}}"></span>
            {{ end }}            
        </div>
        <div class="artist-slide__content">
            <div class="content-details__left">
                <h2 class="content-details__title">Client</h2>
                <ul>
                    {{ if .Params.post_details.details_producer }}
                    <li>Production</li>
                    {{ end }}
                    {{ if .Params.post_details.details_director }}
                    <li>Director</li>
                    {{ end }}
                    {{ if .Params.post_details.details_coordinator }}
                    <li>Coordination</li>
                    {{ end }}
                    {{ if .Params.post_details.details_music }}
                    <li>Music</li>
                    {{ end }}
                    {{ if .Params.post_details.details_artist }}
                    <li>Artist</li>
                    {{ end }}
                    {{ if .Params.post_details.details_talent }}
                    <li>Talent</li>
                    {{ end }}
                </ul>
            </div>
            <div class="content-details__right">
                <h2 class="content-details__title">{{ .Params.post_client}}</h2>    
                <ul>
                    <li>{{ .Params.post_details.details_producer }}</li>
                    <li>{{ .Params.post_details.details_director }}</li>
                    <li>{{ .Params.post_details.details_coordinator }}</li>
                    <li>{{ .Params.post_details.details_music }}</li>
                    <li>{{ .Params.post_details.details_artist }}</li>
                    <li>{{ .Params.post_details.details_talent }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>