<div class="artist-slide__background">
    {{ if isset .Params "post_gallery" }}
        <div class="photo-slider">
            {{ range .Params.post_gallery }}
                <div class="slide-item">
                    <div class="slide-item__wrap" style="background-image:url({{ . | relURL | safeCSS }});">
                        <!--<img class="tns-lazy-img" data-src="{{ . | relURL }}" src="{{ . | relURL }}">-->
                    </div>
                </div>
            {{ end }}
        </div>
    {{ else }}
        <div class="slide-background__image" style="background-image:url({{ .Params.post_thumbnail | safeCSS }});"></div>
    {{ end }}
</div>