<div class="artist-slide section">
    <div class="artist-slide__body">
        <h2 class="artist-slide__heading">{{ .Title }} <span class="artist-slide__type">Video</span></h2>
        <div class="artist-slide__background">
            <div class="slide-background__image" style="background-image:url({{ .Params.post_thumbnail | safeCSS }});"></div>
            <div class="slide-background__video"></div>
            <span class="slide-background__play" data-youtube="{{.Params.youtube_id}}"></span>
        </div>
        <div class="artist-slide__content">
            <div class="content-details__left">
                <h2 class="content-details__title">Client</h2>    
                <ul>
                    {{ if .Params.details_producer }}
                    <li>Producer</li>
                    {{ end }}
                    {{ if .Params.details_producer }}
                    <li>Director</li>
                    {{ end }}
                    {{ if .Params.content_music }}
                    <li>Music</li>
                    {{ end }}
                    {{ if .Params.content_coord }}
                    <li>Coordination</li>
                    {{ end }}
                </ul>
            </div>
            <div class="content-details__right">
                <h2 class="content-details__title">{{ .Params.client_name}}</h2>    
                <ul>
                    <li>{{ .Params.content_producer }}</li>
                    <li>{{ .Params.content_director }}</li>
                    <li>{{ .Params.content_music }}</li>
                    <li>{{ .Params.content_coord }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>