<div class="artist-slide section">
    <div class="artist-slide__body">
        <h2 class="artist-slide__heading">{{ .Title }} <span class="artist-slide__type">{{.Params.media_type}}</span></h2>
        <div class="artist-slide__background">
            <div class="slide-background__image" style="background-image:url({{ .Params.portfolio_thumbnail | safeCSS }});"></div>
            <div class="slide-background__video"></div>
            <span class="slide-background__play" data-youtube="{{.Params.youtube_id}}"></span>
        </div>
        <div class="artist-slide__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum beatae mollitia assumenda perferendis eaque, pariatur, perspiciatis distinctio quisquam dolores expedita voluptas eius unde. Repellat incidunt amet, facere at iste facilis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum beatae mollitia assumenda perferendis eaque, pariatur, perspiciatis distinctio quisquam dolores expedita voluptas eius unde. Repellat incidunt amet, facere at iste facilis?</p>
        </div>
    </div>
</div>